@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

*{
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0;
}

.font-pokemon{
    -webkit-text-stroke: 3.5px #1C4CBD;
    font-family: "Pokemon", sans-serif;
    color: #ffde00;
}

.azulPokemon{
    background-color: #1C4CBD;
}

.colorPokemon{
    color: #1C4CBD;
}

@media only screen and (max-width: 640px) {
    .font-pokemon{
        -webkit-text-stroke: 2.2px #1C4CBD;
    }
}

@media only screen and (max-width: 440px) {
    .font-pokemon{
        -webkit-text-stroke: 1.6px #1C4CBD;
    }
}

@media only screen and (max-width: 460px){

    .contenedorDescripcion{
        width: 100%;
    
    }

    .textoDescripcion{
        width: 100%;
    }

    .textoDesc{
        width: 100%;
    }
}